.ui-widget {
    font-size: 14px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {

}
.ui-button {
    margin-top: 30px !important;
}
panel{
    border-color:#ffffff ;
}
.ui-growl {
    position:absolute !important;
    top:20%!important;
    z-index:9999!important;
}
.datatable{

}